/*
 * Copyright 2016 VÃ­ctor Orozco <tuxtor@shekalug.org>
 *
 * CSS for making a resume with pandoc. Inspired by moderncv.
 *
 * Based on the original by Christophe-Marie Duquesne <chmd@chmd.fr>
 *
 * This CSS document is delivered to you under the CC BY-SA 3.0 License.
 * https://creativecommons.org/licenses/by-sa/3.0/deed.en_US
 */


@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic);
/* Whole document */
body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

/* Title of the resume */
h1 {
    font-size: 45px;
    color: #757575;
    text-align:right;
    margin-bottom:15px;
}

/* Titles of categories */
h2 {
    color: #FF7417;
}
/* There is a bar just before each category */
h2:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 16%;
    height: 10px;
    background-color: #FF924A;
}
h2:hover {
    background-color: #FF7417;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #333;
}

/* Definitions */
dt {
    float: left;
    clear: left;
    width: 17%;
}
dd {
    margin-left: 17%;
    margin-bottom:10px;
}
p {
    margin-top:0;
    margin-bottom:7px;
}

/* Blockquotes */
blockquote {
    text-align: center
}

/* Links */
a {
    text-decoration: none;
    color: #FF7417;
}
a:hover, a:active {
    color: #ED6C15;
    text-decoration: underline;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

img { 
    float: left;
    padding:10px;
}

em {
    font-weight: bold;

}
